<h1 class="m-4 color-theme">About us</h1>
	
<div class="bg-white m-4 p-4 shadow">
	<ul class="fs-5">
		<li>We, at Food Aid, provides food to poor people across the country.</li>
		<li>Our main aim is to eliminate the hunger and satisfy the food needs of needy people by providing them from our donors.</li>
		<li>We envision a world where no one goes to bed hungry and where surplus food is redirected to nourish those in need instead of being wasted</li>
		<li>Join Us: We invite you to join us in our mission to combat food waste and hunger. Whether you are a food donor, a recipient in need, or an organization passionate about making a difference, we welcome your participation and support. Together, we can create a more equitable and sustainable food system for all.
		</li>
	</ul>
</div>