<h1 class="m-4 color-theme">Our Mission</h1>
	
<div class="bg-white m-4 p-4 shadow">
		<h6>With food donation web application, our mission is to revolutionize the way surplus food is managed and redistributed, aiming to eliminate food waste and alleviate hunger. We are committed to leveraging technology  to connect food donors, recipient, and organizations seamlessly, creating a robust and sustainable ecosystem of food redistribution.</h6>
		<ul>
			<li>Reducing Food Waste</li>
			<li>Empowering Donors and Recipients</li>
			<li>Continuous Innovation</li>
			<li>Advocacy and Awareness</li>
		</ul>
		<h6>By aligning our efforts with this mission, we aim to create a positive and lasting impact, transforming the way surplus food is managed and distributed while fostering a more equitable and sustainable future for all.</h6>
</div>